<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'followings'}}active{{/ifCond}}" href="/users/{{ user.id }}/followings">followings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'followers'}}active{{/ifCond}}" href="/users/{{ user.id }}/followers">followers</a>
  </li>
  </li>
</ul>