<div class="col-md-3">
  <div class="d-flex flex-column">
    <img class="rounded-circle" src="https://loremflicker.com/100/100/logo" alt="logo">
    <a href="/tweets">首頁</a>
    <a href="/users/{{ user.id }}">個人資料</a>
    <a href="/users/{{ user.id }}/setting">帳戶設定</a>
    <button type="button" class="btn btn-primary">
      <a href="/logout" style="color:inherit">登出</a>
    </button>
  </div>
</div>
